{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('login') }}" class="login-form">
    <!-- Hidden CSRF Token -->
    {{ form.hidden_tag() }}
    
    <!-- Title and Horizontal Line -->
    <div class="form-title">
        <p>Login</p>
        <hr>
    </div>
   
    <!-- Username Field -->
    {{ form.username(class="input-field") }}
    
    <!-- Password Field -->
    {{ form.password(class="input-field") }}
    
    <!-- Forgot Password Link -->
    <div class="forgot-password">
        <p>Forgot your password?</p>
    </div>
   
    <!-- Submit Button -->
    {{ form.submit(class="submit-button") }}
   
    <!-- Register Link -->
    <p class="register-link">
        Don't have an account? 
        <a href="/register">Register</a>
    </p>
</form>

{% endblock %}
